:root {
  // 背景色
  --color-base-background: #8b5e3d;
  // 記事毎の背景色
  --color-base-background-lighter: #f0cca3;
  //タイトル等の基本文字色
  --color-base-text: #333827;
  //注釈文字色？
  --color-base-text-lighter: #493a3c;
  //罫線色
  --color-border: #147931;
  //NEWタグの背景色
  --color-primary-background: #007033;
  //NEWタグの文字色
  --color-primary-text: #449234;
}
